<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 10px;}</style>
</head>
<body>
<h1>Car List</h1>

<table border="1">
    <thead>
    <tr>
        <th>BRAND</th>
        <th>SERIES</th>
        <th>COLOR</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.series}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>